# --- Stripe ---
STRIPE_SECRET_KEY=

# --- Security ---
JWT_SECRET=
TOKEN_EXPIRE_LENGTH=

# --- Database (test) ---
SPRING_DATASOURCE_TEST_USERNAME=
SPRING_DATASOURCE_TEST_PASSWORD=

# --- Database (production) ---
SPRING_DATASOURCE_PROD_USERNAME=
SPRING_DATASOURCE_PROD_PASSWORD=