## Copy this file to application-secrets.properties and replace with your own keys (for testing purposes an arbitrary string like "test_key" is sufficient as a key)
stripe.secret-key=REPLACE_WITH_YOUR_STRIPE_TEST_KEY
